@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Rancho&display=swap');

:root {
    --typeface-primary: 'Rancho', cursive;
    --typeface-secondary: 'Fira Code', monospace;
    --color-primary: #FFCA62;
    --color-primary-darken: #E59F16;
    --color-primary-lighten: #FFEBB1;
    --color-secondary: #42EA85;
    --bg-pattern: url('~assets/lunch-pattern.jpg');
}

body {
  margin: 0;
  font-family: var(--typeface-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
